<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script><title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<div class="container-fluid">
  <div class="row">
<h1>Bem vindo ao compartilhador<h1>

<h2>Usuarios Conectados</h2>

<ul>
 <p>Total de pessoas <%= pessoas.length %> </p>
<% for(var i=0; i<pessoas.length; i++) {%>
   <li><%= pessoas[i].nome %> 
   <button compartilhar=<%= pessoas[i].token %> >Compartilhar</button>
   <button curtir=<%= pessoas[i].token %> >Curtir</button></li>
<% } %>

</ul>
  <div class="col-md-4"> 
    <h2>Link para compartilhar ou curtir:</h2>
    <input id='link' type="text" name="lastname" value="Link">
<br><br>
  </div>

</div>
</div>

  
<script>
   $('button[compartilhar]').click(function(e){
       console.log('Clicou compartilhar');
       var token = $(this).attr('compartilhar')
       var link = $('#link').val();
       console.log($(this).attr('compartilhar'))
       FB.api('/me/feed', 'post', {access_token:token
      ,link: link },function(response){console.log("banana",response)});
   
   })
   
      $('button[curtir]').click(function(e){
       console.log('Clicou curtir');
       var token = $(this).attr('curtir')
       var link = $('#link').val();
        FB.api('/'+link+'/likes', 'post', {access_token:token},function(response){console.log("banana",response)});
   
   })

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1392536030762771',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });
  
 


  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
  }
  
  
  $('#botao').click(function(){
   FB.getLoginStatus(function(response) {
       console.log('lucass1',response)
    // statusChangeCallback(response);
  });
      FB.api('/me/feed', 'post', {access_token:"EAATygQ9zVxMBAKuVzdsXx2SBdeEz0ftip8UbStaL7MDJJbIrQrxEhwFQFycffeZBmgkNsWwoCptF7YJFOghZAcR3kn1KH2onWoqw49HW7KWXSvLwOzhN5ifYu0KNbOJnRqUaeAZAW64MQGZAyekGK76WZCMfIZAyfUeEUsEx3NrwZDZD"
      ,link: 'https://expressjs.com/en/starter/hello-world.html'},function(response){console.log("banana",response)});
   
   FB.api(
    '/me',
    'GET',
    {},
        function(response) {
            console.log('lucass',response)
        }
    );   
  });
  
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->







<div id="status">
</div>
</body>
</html>
